# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when exporting to archive files
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore